name: Run Tests CI

on:
  push:
    branches:
      - ArchitectureAware

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Go
        uses: actions/setup-go@v3
        with:
          go-version: "1.24.0"

      - name: Checkout branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref_name }}

      - name: Install dependencies
        run: make

      - name: Run tests
        run: make unit-test && make test
